.Catalogo{
    display: flex;
    flex-direction: column 3;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    min-height: 100%;
    padding: 2em;
    margin: 0 auto; 
}

.Catalogo h1{
    padding: 15px;
    margin: 15px;
    width: 24%;
}