.container{
    width: 100vw;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.min-height {
    min-height: 75vh;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}
