.footer{
    position: relative;
    background-color: #156064;
    color: #80CED7;
    padding: 0em;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
}
.social_list {
    display: flex;
    justify-content: center;
   
    list-style: none;
  
}

.social_list li{
    margin: 0 1em;
    padding: 0 1em;
}
.social_list li:hover{
    color: #FFDD4A;
}
.social_list svg {
    font-size: 1em;
    cursor: pointer;
}
