.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #156064;
    padding: 1em;
    height: 80px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.item a:hover {
    color: #FFDD4A;
}
img{
    position: absolute;
    top:50%;
    left: 3%;
    transform: translate(-50%, -50%);
    height: 100%;
    
}
