.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #156064;
    padding: 1em;
    height: 50px;
    color: #fff;
    text-align: center;
}
.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}
img{
    position: fixed;
    width: 7.6em;
    height: 85.5px;
    top: 0;
    left: 0;
}
